<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bloc It Off</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn" ng-class="showCurrentTasks ? 'btn-primary' : '' " ng-click="showCurrentTasks = !showCurrentTasks">Current</button></li>
            <li><button type="button" class="btn" ng-class="showCompletedTasks ? 'btn-success' : '' "ng-click="showCompletedTasks = !showCompletedTasks">Completed</button></li>
            <li><button type="button" class="btn" ng-class="showExpiredTasks ? 'btn-danger' : '' "ng-click="showExpiredTasks = !showExpiredTasks">Expired</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
<div class="col-md-3">
  <h5>Task Priority Filter</h5>
  <div class="list-group">
    <a href="#" class="list-group-item" ng-class="showHighPriority ? 'active' : '' " ng-click="showHighPriority = !showHighPriority">High</a>
    <a href="#" class="list-group-item" ng-class="showMediumPriority ? 'active' : ''" ng-click="showMediumPriority = !showMediumPriority">Medium</a>
    <a href="#" class="list-group-item" ng-class="showLowPriority ? 'active' : ''" ng-click="showLowPriority = !showLowPriority">Low</a>
  </div>
</div>
<div class="col-md-8">
<div class="panel panel-default task-panel">
  <div class="panel-heading">
    My Bloc It Off Tasks
    <span class="pull-right"><a href="#" ng-click="showAddTask = !showAddTask">
      <!-- Collapse -->
      <button type="button" ng-disabled="showAddTask" class="btn btn-primary">Add Task</button>
    </a>
    </span>
  </div>
<table class="table">
  <thead>
    <tr>
      <th>
        <a href="#" ng-class="sortOrder == 1 ? 'dropdown' : 'dropup'" ng-click="sortBy('taskName')">Task Name <span ng-class="sortColumn == 'taskName' ? 'caret' : ''"></span></a>
      </th>
      <th>
        <a href="#" ng-class="sortOrder == 1 ? 'dropdown' : 'dropup'" ng-click="sortBy('taskPriority')">Priority <span ng-class="sortColumn == 'taskPriority' ? 'caret' : ''"></span></a>
      </th>
      <th>
        <a href="#" ng-class="sortOrder == 1 ? 'dropdown' : 'dropup'" ng-click="sortBy('taskStatus')">Status <span ng-class="sortColumn == 'taskStatus' ? 'caret' : ''"></span></a>
      </th>
      <th>
        <a href="#" ng-class="sortOrder == 1 ? 'dropdown' : 'dropup'" ng-click="sortBy('taskRemaining')">Time Remaining <span ng-class="sortColumn == 'taskRemaining' ? 'caret' : ''"></span></a>
      </th>
      <th>Task Action</th> </tr>
  </thead>
  <tbody>
    <tr ng-show="showAddTask">
      <form>
      <td>
        <input type="text" placeholder="Task Name" ng-model="taskName">
      </td>
      <td>
        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn-small" uib-dropdown-toggle ng-disabled="disabled">
            {{taskPriority}}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="setPriority('High')">High</a></li>
            <li role="menuitem"><a ng-click="setPriority('Medium')">Medium</a></li>
            <li role="menuitem"><a ng-click="setPriority('Low')">Low</a></li>
          </ul>
        </div>
      </td>
      <td>
        NEW!
      </td>
      <td>
        7 days
      </td>
      <td>
        <button type="button" class="btn-small btn-danger" ng-click="cancelAddTask()">Cancel</button>
        <button type="button" class="btn-small btn-primary" ng-click="addTask()">Save</button>
      </td>
    </form>
    </tr>

    <tr ng-repeat="task in home.filteredTasks()">
      <td>{{ task.name }}</td>
      <td>{{ task.priority}}</td>
      <td>{{taskStatus(task)}}</td>
      <td>{{timeRemaining(task)}}</td>
      <td>
        <button type="button" class="btn-small btn-danger"  ng-click="cancelCurrentTask(task)">Remove Task</button>
        <button type="button" class="btn-small btn-success" ng-hide="task.isCompleted == true || isExpired(task)" ng-click="completeCurrentTask(task)">Complete Task</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
